body, html {
  height: 100%;
    
}
.bg {
  /* The image used */
  background-image: url(../images/fruits.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    color: white;
    text-shadow:     -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}


